# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include LICENSE
include docs/requirements.txt
include pytest.ini
prune docs/_build
recursive-include docs *.bat
recursive-include .github/workflows *.yml
recursive-include docs Makefile
recursive-include docs *.py
recursive-include docs *.rst
recursive-include misc *.py
recursive-include misc *.rst
recursive-include tests *.py
include .git-blame-ignore-revs
